.login-image{
    width: 430px;
    margin-top: 150px;
    margin-left: 45px;
}

.register-image{
    width: 430px;
    margin-top: 150px;
    margin-left: 45px;
}

.VSMS{
    width: 50px;
   
    height: 30px;
  
}